__pycache__/
.DS_Store
.idea
cmake-build-debug
build
*.egg-info/
.vscode/
CMakeFiles
dist
/.coverage
/coverage.xml
/htmlcov/
kernel/**/*.hip
kernel/**/*_hip.h
kernel/**/*_hip.hpp
kernel/**/*_hip.cpp
kernel/**/*_hip.cuh
kernel/**/*.bak
kernel/**/*.orig
kernel/**/*.rej
kernel/**/*~
